/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    background-color: #46a3f0;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
}

/* Estilos de la barra de navegación */

.navbar {
    background-color: #360eeb;
}

.nav-link {
    color: #f8f8f8;
}

/* Estilos para la sección de encabezado */

header {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

/* Estilos para los encabezados de las páginas */

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Estilos para el contenido principal */

p {
    font-size: 18px;
    line-height: 1.5;
}

/* Estilos para enlaces */

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}




